body {
    text-align: center;
    padding: 80px;
    font-family: sans-serif;
  }
  
  #container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
  }
  
  #wheel {
    width: 300px;
    height: 300px;
    transition: transform 4s ease-out;
  }
  #toggle {
    display: none;
  }

  label {
    display: inline-block;
    margin-bottom: 70px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  #toggle:checked ~ #container #wheel {
    transform: rotate(1440deg);
  }
  